
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
*.user

*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.lib

main
*.exe
*.out
*.app

.vscode/*

.idea/

*~
*.swp

.DS_Store
thumbs.db